<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="The portfolio of Tracy Spitler">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Tracy Spitler">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css" type="text/css">

    <title>TS - Portfolio</title>

  </head>
  <body>

    <div id="projects" class="main">

      <div class="side-nav">
        <div class="side-brand">
          <img src="/svg/Icosahedron.svg"></img>
          <h2>TS</h2>
        </div>

        <div class="side-links">
          <span>
            <a href="/"><img src="/svg/home.svg"></img><b>Home</b></a>
          </span>
          <span>
            <a href="/projects" class="active"><img src="/svg/tie.svg"></img><b>My Work</b></a>
          </span>
          <span>
            <a href="/about"><img src="/svg/rocket-ship.svg"></img><b>About</b></a>
          </span>
          <span>
            <a href="/contact"><img src="/svg/chat.svg"></img><b>Contact</b></a>
          </span>
        </div>

        <div class="side-social">
          <a href="https://www.linkedin.com/in/tracyspitler/"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com/tracyspitler"><i class="fab fa-github"></i></a>
        </div>
      </div>

      <div class="container">
        <div class="hero-text">
          <p>projects will go here.</p>
        </div>
      </div>

    </div>

    <!-- Custom JS -->
    <script type="text/javascript" src="/js/custom.js"></script>

  </body>
</html>
